.raduisImg {
    width: 100%;
    border-radius: 20px;
    height: 90vh;
    object-fit: cover;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    @media (max-width:640px) {
    border-radius: 10px;
    height: 40vh;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: -12px;
}
}

.textgradiant {
    background: linear-gradient(180deg, #1BA0D9 0%, #001E68 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* For non-WebKit browsers supporting the property */
    text-fill-color: transparent;
    /* Optional for future-proofing */
  }

  .lastImg{
    @media (max-width:640px) {
        height: 254px;
    }
  }